body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  font: 1.2rem "Fira Sans", sans-serif;
  color: #1d3c34;
}
ul,
ul li {
  list-style: none;
  padding: 0;
}
ul {
  display: flex;
  align-items: center;
}
button {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
.header {
  padding: 10px;
  background-color: #1d3c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  box-shadow: 0 0 20px rgba(50, 58, 50, 0.7);
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header_menu-link {
  margin-left: 40px;
  cursor: pointer;
}
.header_menu-link:hover {
  text-decoration: underline;
}
.header_language-btn {
  background-color: white;
  color: #1d3c34;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}
.header_language-btn:hover {
  background-color: #1d3c34;
  color: white;
}
.header_language {
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.about-me {
  padding: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hardskills_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.education {
  padding: 60px;
}
.education_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.education_item {
  padding: 20px;
  margin: 20px;
  border: 1px solid;
  border-radius: 10px;
  transition: 0.7s;
}
.education_item:hover {
  transform: scale(1.2);
}
.projects {
  padding-top: 60px;
}
.projects_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.projects_card {
  margin: 20px;
  background: #dadada;
  transition: 0.7s;
  border-radius: 10px;
}
.projects_btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.projects_card:hover .projects_img {
  opacity: 0;
}
.projects_card:hover .projects_btns {
  opacity: 1;
}
.projects_card:hover {
  transform: scale(1.2);
}
.contacts {
  background-color: #1d3c34;
  color: White;
  padding: 50px;
}
.contacts_list {
  display: flex;
  flex-direction: column;
}
.contacts_link {
  color: white;
  text-decoration: none;
}
.resume_btn {
  display: block;
  color: white;
  box-shadow: 0 0 20px rgba(50, 58, 50, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  transition: all .35s;
  background-color: #1d3c34;
}
.resume_btn:hover {
  color: #1d3c34;
  background-color: white;
}
.certificate {
  z-index: 2;
  max-width: 500px;
  height: 500px;
  position: sticky;
  top: -200px;
}
.modal_link {
  color: #1d3c34;
  text-decoration: underline;
}
.btn {
  background-color: #1d3c34;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}
.btn:hover {
  background-color: white;
  color: #1d3c34;
  border: 1px solid #1d3c34;
}
.projects_btn {
  margin: 10px;
}
@media screen and (max-width:1040px) {
  .header_language {
    margin: 10px;
  }
  .resume_modal-img {
    width: 700px;
  }
  .academy_modal-img {
    width: 700px;
  }
}
@media screen and (max-width:800px) {
  .resume_modal-img {
    width: 500px;
  }
  .academy_modal-img {
    width: 500px;
  }
}
@media screen and (max-width:700px) {
  .header {
    align-items: center;
    flex-direction: column;
    position: static;
  }
  .education_list {
    display: inline;
  }
  .education_item {
    margin-bottom: 70px;
  }
  .projects_cards {
    display: inline;
  }
  .contacts_list {
    display: inline;
  }
  .projects_card {
    padding: 20px;
  }
  .header_language {
    width: 100px;
  }
  .header_language-btn {
    width: 50px;
  }
  .header_menu-link {
    margin: 10px;
  }
}
@media screen and (max-width:620px) {
  .resume_modal-img {
    width: 400px;
  }
  .academy_modal-img {
    width: 400px;
  }
}
@media screen and (max-width:600px) {
  .about-me {
    display: inline;
    padding: 0px;
  }
}
@media screen and (max-width:520px) {
  .resume_modal-img {
    width: 300px;
  }
  .academy_modal-img {
    width: 300px;
  }
}
@media screen and (max-width:420px) {
  .contacts_list {
    font-size: 15px;
    padding: 0px;
  }
  .header_menu {
    display: none;
  }
  .resume_modal-img {
    width: 200px;
  }
  .academy_modal-img {
    width: 200px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  color: #1d3c34;
  font-size: 18px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 30px;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 4px;
  left: 4px;
  background-color: #1d3c34;
  transition: 0.4s;
  border-radius: 90px;
}
input:checked+.slider::before {
  transform: translateX(26px);
}
.slider_russian {
  position: absolute;
  align-items: center;
  margin-top: 6px;
  margin-left: 5px;
}
.slider_english {
  position: absolute;
  align-items: center;
  margin-top: 6px;
  margin-left: 34px;
}